body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    position: sticky;
    background-color: rgb(19, 60, 118);
    width: 100%;
    height: 50px;
    display: flex;
    text-align: start;
    padding: 2%;
    align-items: center;
}

span{
    color: white;
    font-size: 40px;
}
h1{
    width: 100%;
    text-align: center;
}
.div-registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
input[type="button"]{
    border-style: none;
    background-color: rgb(42, 60, 140);
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 25px;
}
input[type="button"]:hover{
    background-color: rgb(83, 93, 139);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.inputs{
    width: 250px;                
    padding: 10px 14px;          
    border: 2px solid #ccc;      
    border-radius: 10px;         
    font-size: 20px;             
    outline: none;            
    transition: all 0.3s ease;
}
.inputs:hover{        
    border: 2px solid #515151; 
    box-shadow: 0 4px 12px rgba(135, 135, 135, 0.5);
     
}
.container-table{
    margin: 25px auto;
    max-height: 500px;
    overflow: auto;
    width: 80%;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    padding: 15px;

}

th {
    background-color: rgb(42, 60, 140);
    color: white;
    text-align: center;
}

.btn-eliminar{
    border-style: none;
    background-color: rgb(255, 6, 6);
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 12px rgba(135, 135, 135, 0.2);
    font-size: 20px;
}
.btn-eliminar:hover{
    box-shadow: 0 4px 12px rgba(135, 135, 135, 0.5);
    background-color: rgb(255, 108, 108);
}
thead th {
    position: sticky;
    top: 0; 
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
